h1 {
    color: black;
    background: grey;
    font: 12px;
  }
  h2 {
    color: navy;
    padding: 12px;
  }
  h3 {
      style:strong;
      padding: 6px;
      font-size: 20px;
    }
    h4 {
        style: strong;
        padding:6px;
        font-size: 20px;
      }
  